/* ------------   Importación     ------------ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

/* ------------ Estilos generales ------------ */
* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

/* ------------  Estilos header   ------------ */
header {
  background-color: #e6e6e6;
  background-image: url("../img/cover.png");
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.profile-container {
  width: 450px;
  height: 220px;
}

.profile-picture {
  position: relative;
  top: 20px;
  left: -65px;
  margin: 15px;
  z-index: 1;
}

.profile-picture img {
  width: 180px;
  height: 180px;
  border: 4px solid #b9d1b8;
  border-radius: 180px;
  outline: 5px solid #b9d1b8;
  outline-offset: -6px;
}

.profile-name {
  background-color: #005677;
  position: relative;
  top: -125px;
  left: 100px;
}

.profile-name p {
  margin: 10px;
  font-size:18px;
  position: relative;
  left: 250px;
}

h1 {
  min-width: 450px;
  padding: 10px;
  padding-left: 30px;
  border-radius: 10px;
  border: 5px solid #b9d1b8;
  background-color: #dee3de;
  text-align: center;
  letter-spacing: 0.3rem;
  font-size: 40px;
  color: #3b3d33;
}

.profile-about {
  font-size:18px;
  padding: 10px;
  border-radius: 10px;
  background-color: #e3eed8;
  color: #005677;
  position: relative;
  top: -165px;
  left: 100px;
  z-index: 1;
}

.profile-about a {
  text-decoration: none;
}

.title {
  color: #7bab4b;
  margin-bottom: 20px;
}

/* ------------  Estilos nav menu ------------ */

/* ------------    Estilos main   ------------ */
.general-information {
  width: 100%;
}

.information-container {
  width: 60vw;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.information-container p {
  text-align: justify;
}

.subtitle {
  padding-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #7bab4b;
  border-left: 10px solid #7bab4b;
}

.date-event-list dt {
  margin-left: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
.date-event-list dd {
  margin-left: 40px;
  font-style: italic;
  margin-bottom: 20px;
}
/* ------------   Estilos footer  ------------ */
.index-footer {
  background-color: #e3eed8;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 30px;
  justify-content: center;
  height: 90px;
  margin-top: 50px;
  padding: 50px 0 20px;
}

.copyright {
  margin-top: 20px;
  font-weight: normal;
  color: white;
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
}

.footer-link {
  color: #7bab4b;
  margin: 20px;
}

.footer-link:hover {
  color: #ffffff;
}
