/* ------------   Importación     ------------ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

/* ------------ Estilos generales ------------ */
* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

/* ------------  Estilos header   ------------ */
header {
  background-color: #e6e6e6;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.profile-container {
  width: 450px;
  height:150px;
}

.profile-picture {
  position: relative;
  top: 20px;
  margin: 15px;
  z-index: 1;
}

.profile-picture img {
  width: 120px;
  height: 120px;
  border: 4px solid #b9d1b8;
  border-radius: 120px;
  outline: 5px solid #b9d1b8;
  outline-offset: -6px;
}

.profile-name {
  background-color: #005677;
  position: relative;
  top: -90px;
  left: 110px;
}

.profile-name p{
  margin: 5px;
  position: relative;
  left: 250px;
}

h1 {
  min-width: 400px;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid #b9d1b8;
  background-color: #c4c4c4;
  text-align: center;
  letter-spacing: 0.3rem;
  font-size: xx-large;
  color: #739505;
}

.profile-about {
  padding: 10px;
  border-radius: 10px;
  background-color: #e3eed8;
  color: #005677;
  position: relative;
  top: -120px;
  left: 110px;
  z-index: 1;
  
}

.profile-about a {
  text-decoration: none;
}

.title {
  color: #7bab4b;
}

/* ------------  Estilos nav menu ------------ */

/* ------------    Estilos main   ------------ */
main {
  display: flex;
  
}

.left-banner {
  background-color: #bac7ab;
  width: 20px;
}

.general-information {
  width: 100%;
}

.h3{
  color: #739505;
}

.date-event-list dt{
  margin-left: 15px;
  font-weight: bold;
  
}
.date-event-list dd{
  margin-left: 40px;
  font-style: italic;
}
/* ------------   Estilos footer  ------------ */
footer {
  background-color: #e3eed8;
  text-align: center;
  line-height: 50px;
}

footer span {
  text-align: center;
}
